html, body {
	height: 100%;
	background-color: #95a5a6;
}

.container, .full {
	height: 100%;
}

.img-restaurant {
	max-height: 150px;
	max-width: 150px;
}

.selectable  {
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.selectable:hover {
	transform: scale(1.1);
}

.flex {
	display: flex;
}

.flex-center-align {
	align-items: center;
}

.flex-around {
	justify-content: space-around;
}